@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #A076F9;
    --cor-secundaria: #97FEED;
    --cor-terciaria: #A6FF96;
    --cor-hover: #27005D;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;

    --tamanho-da-fonte-titulo: 2.25rem;
    --tamanho-da-fonte-paragrafo: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--tamanho-da-fonte-paragrafo);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    color: var(--cor-secundaria);

}

.titulo-destaque{
    color: var(--cor-terciaria);
}

/* .titulo-destaque:hover{
    border: 3px dashed #0000FF;
} */

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--tamanho-da-fonte-titulo);
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto {
    font-size: var(--tamanho-da-fonte-paragrafo);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: var(--tamanho-da-fonte-paragrafo);
}


.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 324px;
    text-align: center;
    border: 2px solid var(--cor-terciaria) ;
    border-radius: 8px;
    font-size: var(--tamanho-da-fonte-paragrafo);
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
    
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

/* .apresentacao__links__link:hover{
    border-color: #0000FF;
} */

.apresentacao__imagem {
    width: 50%;
}

.rodape{
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-da-fonte-paragrafo);
    font-weight: 400;
    padding: 24px;
}


/* Página Sobre mim */


/* Página Currículo */

.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
    gap: 82px;
}

.conteudo__apresentacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10% 0%;

}

.conteudo__apresentacao__titulo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-da-fonte-titulo);
}

.conteudo__apresentacao__lista {
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-da-fonte-paragrafo);
    font-weight: 400px; 
    color: var(--cor-secundaria);
    display: flex;
}

.conteudo__apresentacao__links {
    text-decoration: none;
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
}

.conteudo__apresentacao__links:hover {
    background-color: var(--cor-hover);
}

.conteudo__apresentacao__lista__lista{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1200px) {

    
    .cabecalho{ 
        padding: 10%;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .conteudo{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo__apresentacao{
        width: auto;
    }

    .apresentacao__imagem{
        width:auto;
        margin: 5% 15%;
    }

}
